<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <title>Eat-Da-Burger!</title>
    <base href="/">
		<link rel="stylesheet"  type="text/css" href="/assets/css/style.css">		
		<script src="https://code.jquery.com/jquery.js"></script>
            <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/javascript" href="/assets/js/script.js">
        <title>Eat-Da-Burger!</title>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>